.form-send-tweet {
    background-color: #fff;
    border: 2px solid #00acee; /* Sustituye $form-border-color por su valor */
    padding: 20px;
    width: 600px;
  }
  
  .form-send-tweet__title {
    margin: 0 !important;
  }
  
  .form-send-tweet__form .MuiFormControl-root {
    width: 100%;
  }
  
  .form-send-tweet__form-name {
    width: 50% !important;
  }
  
  .form-send-tweet__formtextarea {
    width: 100%;
  }
  